<h1>Twitter App</h1>

<% if current_user %>
<p><%= "Welcome, #{current_user.name}. You're logged in!" %></p>

<p><%= link_to "Log out", logout_path %></p>


<% @client.user_timeline(current_user, count:100).each do |tweet| %>
  <hr>
  <p><%= tweet.text %></p>
  <p><%= tweet.created_at %></p>

  <% if tweet.urls? %>
    <% url = tweet.urls.first.attrs[:expanded_url] %>
    <a href="<%= url %>"><%= url %></a>
  <% end %>


<% end %>


<% else %>
  <%= link_to "Log in with Twitter", "/auth/twitter" %>
<% end %>
